.name-container {
    margin: 0 auto;
    height: 720px;
    &.english {
        background: url('../assets/Pg3_english.png');
    }
    &.spanish {
        background: url('../assets/Pg3_spanish.jpg');
    }
    &.portuguese {
        background: url('../assets/Pg3_portuguese.jpg');
    }
    &.english, &.spanish, &.portuguese {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center top;
    }
    border-top: 2px solid white;
    position: relative;
    .outer-box {
        display: flex;
        justify-content: center;
        position: absolute;
        width: 650px;
        min-width: 393px;
        height: 350px;
        right: 10px;
        bottom: 10px;
        background-color: rgb(255, 255, 255);
        border: 3px solid black;
        .task {
            position: relative;
            background-color: blanchedalmond;
            border: 3px solid black;
            margin: 5px;
            padding: 10px 0;
            width: 100%;
            h2 {
                margin: 20px 0;
                font-size: var(--big-font-size);
            }
            #firstName,
            #lastName {
                border: none;
                margin: 0 15px;
                font-size: var(--big-font-size);
                font-family: 'Komika';
                border-bottom: 3px solid black;
                background-color: blanchedalmond;
                width: 200px;
            }
        }
    }
}

.name-generator-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    .progress {
        content: '';
        height: 20px;
        background-color: darkorchid;
        align-self: flex-start;
        border-radius: 10px;
        margin-left: calc(50% - 125px);
        animation: progress 6s linear;
        position: relative;
        &:after {
          content: '';
          height: 24px;
          width: 252px;
          position: absolute;
          top: -4px;
          left: -4px;
          border-radius: 12px;
          border: 2px solid darkorchid;
          // outline: 2px solid darkorchid;
          // outline-offset: 2px;
        }
    }
    .navigation-bar {
        position: absolute;
        display: flex;
        width: 625px;
        justify-content: space-between;
        bottom: 5px;
        a {
          text-decoration: none;
          font-size: var(--very-big-font-size);
          color: #000;
        }
        #submit {
          position: relative;
          left: 0;
          bottom: 0;
          color: #AA0061;
          animation: flash 1s infinite;
        }
    }
    #heroName {
      width: 100%;
      border: none;
      margin: 0 auto;
      font-size: var(--big-font-size);
      font-family: 'Komika';
      border-bottom: 3px solid black;
      background-color: blanchedalmond;
      text-align: center;
      width: 500px;
      color: #AA0061;
      font-weight: bold;
      &::placeholder {
        color: black;
      }
      &:disabled::placeholder {
        color: rgba(0, 0, 0, 0.26);
      }
    }
    .MuiButtonBase-root {
      font-family: 'Komika';
      font-size: var(--big-font-size);
    }
}

@keyframes progress {
    0% { width: 0px; }
    100% { width: 250px; }
}

@keyframes flash {
  0% { transform: translateX(5px); }
  100% { transform: translateX(0px); }
}

@keyframes flash {
    0% { transform: translateX(5px); }
    100% { transform: translateX(0px); }
}

@media screen and (max-width: 1420px) {
    .name-container {
        height: 50vw;
    }
}

@media screen and (max-width: 1170px) {
    .name-container {
        height: calc(50vw + 305px);
        &.english, &.spanish, &.portuguese {
            background-size: contain;
        }
        .outer-box {
            width: calc(90vw - 6px);
            left: 0;
            bottom: -50px;
        }
    }
}

@media screen and (max-width: 700px) {
    .name-container {
        height: calc(50vw + 320px);
        min-height: 554px;
        .outer-box {
            height: 450px;
            bottom: -130px;
            .navigation-bar,
            #heroName {
                width: 90%;
            }
            .task {
                label[for="heroName"] {
                    width: 100%;
                }
                #firstName,
                #lastName,
                a, h2, button {
                    font-size: var(--medium-font-size);
                }
                #heroName::placeholder, h3 {
                    font-size: var(--small-font-size);
                }
            }
        }
    }
}
