.name-container {
  margin: 0 auto;
  width: 1280px;
  height: calc(100vh - 144px);
  min-height: 600px;
  background: url('../assets/Pg3_Enter Name.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  border: 1px solid white;
  position: relative;
     a {
              position: absolute;
              left: 50px;
        bottom: 50px;
        z-index: 99;
                text-decoration: none;
                font-size: 1.5rem;
                color: #000;
            }
    .outer-box {
        display: flex;
        justify-content: center;
        position: absolute;
        width: 40%;
        min-width: 400px;
        height: 300px;
        left: 110px;
        bottom: 100px;
        background-color: rgb(255, 255, 255);
        border: 3px solid black;
        .task {
            position: relative;
            background-color: blanchedalmond;
            border: 3px solid black;
            margin: 5px;
            padding: 10px 0;
            width: 100%;
            h2 {
                margin: 20px 0;
            }
            #firstName,
            #lastName {
                border: none;
                margin: 0 15px;
                font-size: 1.7rem;
                font-family: 'Komika';
                border-bottom: 3px solid black;
                background-color: blanchedalmond;
                width: 200px;
            }
         
        }
    }
}

@keyframes flash {
    0% { transform: translateX(5px); }
    100% { transform: translateX(0px); }
}
