.gender-container {
    margin: 0 auto;
    height: 720px;
    min-width: 400px;
    background: url("../assets/Pg2.jpg");
    flex-grow: 1;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    border-top: 2px solid white;
    position: relative;
    display: flex;
    justify-content: center;
    .navigation-bar {
        position: absolute;
        width: calc(100% - 450px);
        top: 310px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        a {
            text-decoration: none;
            font-size: var(--very-big-font-size);
            color: #fff;
            background-color: #000000b7;
            padding: 10px 20px;
            border-radius: 10px;
            &:nth-child(2) {
                animation: flash 1s infinite;
            }
        }
    }
    .selections-container {
        position: absolute;
        bottom: 200px;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        z-index: 99;
        label {
            position: relative;
            width: 30%;
            h2 {
                color: #FFF;
                font-size: var(--big-font-size);
                height: 100px;
                display: flex;
                align-items: center;
                justify-content: center;
                background: radial-gradient(#470A68, #00000000);
                border-radius: 50%;
                &:hover {
                    background: radial-gradient(#AA0061, #00000000);
                }
            }
            input {
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                appearance: none;
                z-index: -1;
                &:focus ~ h2 {
                    background: radial-gradient(#AA0061, #00000000);
                    border-radius: 50%;
                }
                &:checked ~ h2 {
                    background: radial-gradient(#AA0061, #00000000);
                    color: #30cf00;
                }
            }
        }
    }
}

@keyframes flash {
    0% { transform: translateX(5px); }
    100% { transform: translateX(0px); }
}

@media screen and (max-width: 1420px) {
    .gender-container {
        height: 50vw;
    }
}

@media screen and (max-width: 875px) {
    .gender-container {
        // height: calc(50vw + 140px);
        height: calc(100vh - 100px);
        min-height: 350px;
        background-size: cover;
        .navigation-bar {
            width: calc(100% - 100px);
            height: 50px;
            top: 5px;
            a {
                font-size: var(--medium-font-size);
            }
        }
        .selections-container {
            height: auto;
            bottom: 175px;
            background-color:rgba(0,0,0,0.8);
            label h2 {
                font-size: var(--medium-font-size);
            }
        }
    }
}
