header {
    margin-bottom: 30px;
    .company-name {
        height: 50px;
        // border: 1px solid blue;
        // background-color: rgba(0, 0, 255, 0.372);
    }
    .event-banner {
        height: 120px;
        // border: 1px dashed green;
        // background-color: rgba(127, 255, 189, 0.562);
    }
}
