header {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  background-image: url('../assets/Pg1_Select\ Language.jpg');
  background-position: center;
  background-size: cover;
  // background-color: #000;
  color: #fff;
  justify-content: center;
  padding: 15px 0;
    .company-name {
        display: flex;
        justify-content: space-between;
        margin: 0 35px;
        align-items: center;
        h1 {
            z-index: 99;
            margin: 0;
            padding: 0;
        }
        img {
            width: 175px;
            align-self: center;
            z-index: 99;
        }
    }
    .comic-bubble {
        img {
            min-width: 500px;
            width: 40%;
        }
    }

    @media screen and (max-width: 600px) {
      .company-name h1 {
        font-size: 25px;
      }
    }
}
