header {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    .company-name {
        display: flex;
        justify-content: space-between;
        margin: 35px;
        h1 {
            z-index: 99;
        }
        img {
            width: 100px;
            align-self: center;
            z-index: 99;
        }
    }
    .comic-bubble {
        img {
            min-width: 500px;
            width: 40%;
        }
    }
}
