.english {
    height: 720px;
    background: url("../assets/Pg1_english.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: flex-end;
}
.spanish {
    height: 720px;
    background: url("../assets/Pg1_spanish.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: flex-end;
}
.portuguese {
    height: 720px;
    background: url("../assets/Pg1_portuguese.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: flex-end;
}
.language-container {
    margin: 0 auto;
    height: 570px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    label {
        width: 30%;
        &[for="english"] .speech-bubble img {
            transform: rotateY(180deg);
        }
        .speech-bubble {
            width: 100%;
            img {
                &:hover {
                    background: radial-gradient(#470A68 40%, #00000000 70%);
                }
                &:hover ~ h2 {
                    color: #AA0061;
                }
            }
        }
        h2 {
            font-size: var(--big-font-size);
            &:hover {
                color: #AA0061;
            }
        }
        input {
            display: none;
            &:checked ~ .speech-bubble h2 {
                color: #009231;
            }
            &:checked ~ .speech-bubble img {
                border-radius: 50%;
                background: radial-gradient(#470A68 40%, #00000000 70%);
            }
        }
    }
    .navigation-bar {
        position: absolute;
        top: -150px;
        right: 0;
        z-index: 99;
        padding: 20px;
        display: flex;
        justify-content: flex-end;
        width: 100%;
        background: linear-gradient(90deg, #00000000,rgba(255, 255, 0, 0.623) 90%);
        a {
            font-size: var(--very-big-font-size);
            text-decoration: none;
            animation: flash 1s infinite;
            color: #470A68;
        }
    }
}

@keyframes flash {
    0% { transform: translateX(5px); }
    100% { transform: translateX(0px); }
}

@media screen and (max-width: 1420px) {
    .english, .spanish, .portuguese {
        height: 50vw;
    }
    .language-container {
        height: calc(50vw - 150px);
    }
}

@media screen and (max-width: 1170px) {
    .language-container {
        label h2,
        .navigation-bar a {
            font-size: var(--medium-font-size);
        }
    }
}

@media screen and (max-width: 650px) {
    .english, .spanish, .portuguese {
        position: relative;
        height: calc(50vw + 605px);
        min-height: 825px;
        background-size: contain;
        background-position: top;
    }
    .language-container {
        background: linear-gradient(90deg, #00000000,rgba(255, 255, 0, 0.623) 90%);
        position: absolute;
        bottom: 0;
        height: 600px;
        flex-direction: column;
        label {
            width: 50%;
        }
        .navigation-bar {
            top: auto;
            bottom: 300px;
            background: none;
            width: auto;
            height: auto;
        }
    }
}
