.language-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background: url('../assets/Pg1_Select Language.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    label {
        position: relative;
        width: 30%;
        &[for="english"] .speech-bubble img {
            transform: rotateY(180deg);
        }
        .speech-bubble {
            width: 100%;
            img {
                &:hover {
                    background: radial-gradient(#470A68 40%, #00000000 70%);
                }
                &:hover ~ h2 {
                    color: #AA0061;
                }
            }
        }
        h2 {
            font-size: 2rem;
            &:hover {
                color: #AA0061;
            }
        }
        input {
            position: absolute;
            width: 400px;
            height: 400px;
            appearance: none;                                   
            top: -150px;
            left: calc(50% - 250px);
            &:checked ~ .speech-bubble h2 {
                color: #009231;
            }
            &:checked ~ .speech-bubble img {
                border-radius: 50%;
                background: radial-gradient(#470A68 40%, #00000000 70%);
            }
        }
    }
}
