.success-modal {
  background-image: url('../assets/Pg2_Select Gender.jpg');
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
    .heroNameDiv {

    height: 150px;
    // top: 50%;
    // background-color: red;
    }
    button {
      width: 250px;
      max-width: 250px;
    }
}


