@font-face {
    font-family: 'Best-Friends';
    src: url("../fonts/Best\ Friends\ Font.otf");
}

.success-modal {
  margin: 0 auto;
  height: 720px;
  min-width: 400px;
  background-image: url('../assets/Pg4.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: 2px solid #fff;

  .heroNameDiv {
  height: 720px;
  width: 0;
  display: flex;
  justify-content: center;
  background: url('../assets/Pg1_Select Language.jpg');
  background-size: cover;
  background-position: center bottom;
  position: relative;
    img#invincible {
      width: 30%;
      object-fit: contain;
      position: absolute;
      top: 40px;
      left: 40px;
    }
    .speech-bubble {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 600px;
      h2:nth-child(2) {
        font-size: 30px;
        color: crimson;
        width: 1000px;
      }
      h2:nth-child(4),
      h2:nth-child(5) {
        font-family: 'Komika';
        font-size: var(--huge-font-size);
        letter-spacing: 4px;
        color: yellow;
        text-shadow: 5px 5px 0 black, 2px 2px 0 black, -2px 2px 0 black, 2px -2px 0 black, -2px -2px 0 black;
        width: 1000px;
      }
      img {
        width: 950px;
        top: 55px;
        height: 575px;
      }
    }
  }
  button {
    font-family: 'Komika';
    color: #fff;
    background-color: #000000b3;
    font-size: var(--big-font-size);
    width: 400px;
    margin-top: 15px;
    &.MuiButton-root:hover {
      background-color: red;
    }
  }
}

@media screen and (max-width: 1000px) {
  .success-modal .heroNameDiv .speech-bubble {
    h2:nth-child(2),
    h2:nth-child(4),
    h2:nth-child(5) {
      width: 80%;
    }
    // img {
    //   right: 0;
    // }
  }
}
