@font-face {
  font-family: 'Komika';
  src: url('./fonts/komika.slim.ttf');
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  font-family: 'Komika';
  background: url("./assets/heroes_bakground.jpg"), linear-gradient(0deg, #470A68 40%, #AA0061 85%), linear-gradient(355deg, #000000c5, #ffffffc5, #000000c5);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-blend-mode: overlay;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
